
#pic_container{
    text-align: center;
}

.center{
    display: block;
    margin: auto;
}


#shuttle_info_page li{
    font-size: 12px;
}

/*Backgrounds*/
#mypage .page__background{
     background: -webkit-linear-gradient(left top, #f2f2f2, #002060);
}

#mylibrarypage .page__background{
     background: -webkit-linear-gradient(left top, #f2f2f2, #002060);
}
/*Carousel CSS*/
ons-carousel-item {
  display: table;
  text-align: center;
}

.item-label {
  display: table-cell;
  vertical-align: middle;
  color: white;
  line-height: 1;
  font-size: 48px;
  font-weight: bold;
}

.cover-label {
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 10px;
  color: white;
}

/*Map CSS*/


