
#pic_container{
    text-align: center;
}

.center{
    display: block;
    margin: auto;
}

/*Backgrounds*/
#mypage .page__background{
     background: -webkit-linear-gradient(left top, #f2f2f2, #002060);
}

#mylibrarypage .page__background{
     background: -webkit-linear-gradient(left top, #f2f2f2, #002060);
}

/*Map CSS*/


